<div class="container mt-4">
  <h2>About Writer's Info</h2>
  <img src="./assets/writers.png" class="img-fluid" />

  <p>
    Want to Know how this site works
    <i><a class="text-primary">Click here to know more about us!!!</a></i>
  </p>
  <div class="row bg-info">
    <div class="col">
      <h2>Our Philosophy: Writing Classes Should be Affordable and Amazing</h2>
      <p>
        At Writers.com, we’re passionate about the art and the craft of
        storytelling. And we want to help others with their practice of writing,
        whether the goal is clear communication, personal fulfillment or
        heartbreaking works of staggering genius.
      </p>
      <p>
        Online classes let us cherry-pick the best teachers – all published,
        working authors – and bring them to computers across the globe. We’ve
        taught students working on cruise ships and volunteering for remote
        non-profits, and even one wintering-over high in the Arctic. As a
        result, we’ve built a vibrant, international community of writers, from
        beginners discovering their way to seasoned professionals who want to
        deepen their work and opportunities.
      </p>
      <p>
        Direct weekly feedback fuels this process. Each student receives
        personalized attention, tailored to his or her level. Nothing improves
        writing faster than well-tuned edits and advice. Except practice, of
        course. And we’ll make sure you get plenty of that too, building
        momentum and good habits to endure long after your class ends.
      </p>
    </div>
    <div class="col">
      <h1>The Writer's Info Promise</h1>
      <p>
        Whatever the course topic, structure, and instructor, all students can
        expect the same level of care and quality in their work with
        Writers.com. We strive to uphold the following principles:
      </p>
      <ul>
        <li>
          <p>
            <b>Respect: </b> Every interaction you have with an instructor or
            administrator will be polite, considerate, and constructive. This
            includes acknowledging and respecting different perspectives and
            lived experiences.
          </p>
        </li>
        <li>
          <p>
            <b>Flexibility: </b>Every writer is on a unique journey. We seek to
            meet you where you're at, tailoring our instruction and feedback to
            your own needs and goals.
          </p>
        </li>
        <li>
          <p>
            <b>Helpfulness: </b>Our instructors are deeply experienced as both
            writers and teachers, and they commit to bringing that expertise to
            bear for your benefit. You should learn something new and valuable
            in your interactions with us.
          </p>
        </li>
        <li>
          <p>
            <b>Creativity: </b>Our courses and other writing spaces are designed
            to help nurture and hone your creativity, and never to inhibit your
            creative spark.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
