<div class="container bg-light shadow pb-4">
  <p class="fs-2 fw-bolder mt-3 text-xl-center">
    Write your way to the life you want.
  </p>
  <br />
  <img src="../../assets/writing3.jpg" class="img-fluid" />
  <br />
  <br />
  <div class="text-xl-center fw-bold me-5 ms-5">
    <p class="m-5">
      Writing websites are valuable tools that help you find new clients and
      display your portfolio. They allow you to advertise your writing services
      and strengthen your personal brand.
    </p>

    <p class="m-5">
      From blog writing to website copy and social media content, a strong
      portfolio of writing samples is crucial for a steady work stream.
    </p>

    <p class="m-5">
      You can easily update a writing portfolio website to include your most
      recent projects. It showcases your work to prospective clients and invites
      them to contact you.
    </p>
  </div>
</div>
<div class="container shadow bg-light mt-2">
  <div class="row">
    <div class="col">
      <img src="../../assets/idea.jpg" />
    </div>
    <div class="col">
      <h3 class="mt-5 pt-5">Want to Know More about us???</h3>

      <p>Then fill this form</p>
      <button class="btn-info rounded-3 mb-5">
        <a [routerLink]="['/contact']" class="nav-link fw-bold text-white"
          >Contact Form</a
        ></button
      ><br />
      <b class="text-info text-decoration-underline"
        >If you have any Query please fill this form!!!</b
      >
    </div>
  </div>
</div>
